@import url('https://fonts.googleapis.com/css?family=Dhurjati|Supermercado+One');
.box {
  background: white;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: 'Supermercado One';
  font-size: 150px;
  max-width: 700px;
  margin: 0 auto;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

#start, #lap, #clear {
  border: none;
  font-family: "Dhurjati";
  font-weight: normal;
  font-size: 30px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 #999;
}


#start {
  background-color: #43ba4a;
  width: 150px;
  margin: 0 auto;
}

#lap {
  border-radius: 30px;
  width: 80px;
}


#clear {
  background-color: white;
  width: 150px;
  margin: 0 auto;
}

#start:hover {
  color: #ffffff;
}

#clear:hover {
  background: black;
  color: white;
}

#lap:hover {
  color: white;
}

#lap:disabled:hover {
  color: grey;
  cursor: not-allowed;
}


#start:active, #lap:active, #clear:active {
  box-shadow: 0 #666;
  transform: translateY(2px);
}


#laps {
  font-family: 'Supermercado One';
  font-size: 50px;
  text-align: center;
  }
